/* 
    Document   : style
    Created on : Jun 10, 2013, 3:49:00 PM
    Author     : guilherme
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: #789;
    font-family: verdana;
}

div.container {
    width: 980px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
}



.list
{
    font-size: small;
    margin: auto;
    text-align: center;
    
}
.list table {
    width: 100%;
    margin-top: 0;
}

.list table,td
{
    text-align: center;
    border-collapse:collapse;
    border: 1px solid darkgray;
    padding:3px 7px 2px 7px;
}

.list td {
    
    overflow: auto;
}

.list th
{
    border: 1px solid darkgray;
    background-color:lightgray;
    height: 40px;
}

.inline
{
    display:inline;
}

.form
{
    width: 500px;
    height: 50%;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    background-color: white;
    border:solid darkgray thin;
    padding: 10px;    
    border-radius: 10px;
}

.form table
{   
    text-align: center;
    border-collapse:collapse;
    margin:0 auto;
}
.form th
{
    font-weight:normal;
    text-align: right;
    border: 0px;
    width: 250px;
}

.form td
{
    padding: 0px;
    padding-top: 5px;
    text-align: left;
    border: 0px;
    max-width: none;
    width: 250px;
}


div.container
{
    background-color: white;
    width: 980px;
}

td.check{
    width: 19px;
}

td.accept{
    text-align: right;
}

td
{
    max-width: 100px;
    word-wrap: break-word;
}

h1.titulo {
    text-align: left;
    font-size:50px;
    color:darkblue;
    margin-top: 0px;
    text-shadow: 1px 1px 1px;
}

#menu{
    text-align: center;
}

#menu ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 220px;    
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
}

#menu ul li {
    position: relative;
    color: black;
}

#menu ul li a:hover {
  background-color:#D6D6D6;
}

#menu li ul {
    position: absolute;
    left:0px;
    top: 30px;
    display: none;
    z-index: 10;
}
#menu li:hover ul { display: block; }

#menu ul li a {
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
}



#info{
    text-align: center;
    overflow: visible;
}

#info ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;   
    display: block;
    text-decoration: none;
}

#info ul li {
    position: relative;
}

#info li ul {
    opacity: 0.9;
    width: 250px; 
    text-align: left;
    position: absolute;
    left: 100%;
    top: -80px;
    display: none;    
    border: 1px solid #ccc;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    padding: 5px;
}
#info li:hover ul { display: block; }

#info ul li p{
    display: block;
    text-decoration: none;
}


#pageNavPosition{
 margin: 10px;
 }

.pg-normal {
color: #000000;
font-size: 15px;
cursor: pointer;
padding: 2px 4px 2px 4px;
}

.pg-selected {
color: black;
font-size: 15px;
background: darkgray;
padding: 2px 4px 2px 4px;
}
